body {
  background-color: #343946;
  color: white;
  width: 380px;
  height: 310px;
}

h2 {
  text-align: center;
}

p {
  margin-left: 15px;
  margin-right: 10px;
}

.snsButton {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;;
}

#slackChannel {
  background-color: #1F286F;
  color: white;
}

#slackChannel:hover {
  background-color: white; 
  color: #1F286F;
}

#googleForms {
  background-color: #00508D;
  color: white;
}

#googleForms:hover {
  background-color: white;
  color: #00508D;
}