body {
  background-color: darkslategray;
  color: white;
  width: 380px;
  height: 350px;
}

h1 {
  text-align: center;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  margin: 10px;

  span {
    font-size: 15px;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

.snsButton {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

#slackChannel {
  background-color: #1F286F;
  color: white;
}

#slackChannel:hover {
  background-color: white;
  color: #1F286F;
}

#googleForms {
  background-color: #00508D;
  color: white;
}

#googleForms:hover {
  background-color: white;
  color: #00508D;
}