$common-text-color: #e8e8e8;
$title-text-color: #FFFFFF;
$common-background-color: #202124;

[role=main] {
  >div {
    &:nth-child(1) {

      >div {

        // フォーラムの投稿履歴の部分の色を変更
        &:nth-child(3)>div {
          background-color: #2c2c2c;
          color: $common-text-color;

          a>p {
            color: $common-text-color;
          }
        }
      }
    }

    // 投稿が表示される部分
    &:nth-child(2) {
      // 一番上のborderを削除
      border: none;

      h2 {
        color: $title-text-color;
      }

      // 各投稿にダークモードを適用
      >div {
        background-color: $common-background-color;
        color: $common-text-color;
        border-color: #2f2f2f;
        border-bottom-width: 3px;
        margin-bottom: 0px;

        // タブタイトル以外にhoverを適用
        &:not(:nth-child(1)) {
          &:hover {
            background-color: #383838;
          }
        }

        a {
          // タイトル以外の文字色を設定
          color: #bbbbbb;

          >div {
            &:nth-child(1) {
              >div {

                // 投稿のタイトル
                &:nth-child(1) {
                  color: $common-text-color;
                }
              }
            }

            // 投稿のタグの部分
            &:nth-child(2)>ul>li {
              background-color: #ffffff0d;
            }
          }
        }
      }
    }
  }
}