$common-text-color: #e8e8e8;
$title-text-color: #FFFFFF;
$common-background-color: #202124;

body {
  background-color: black;
  color: $common-text-color;
}

// 上部のバーにダークモードを適用
[role=banner] {
  background-color: #222222;

  >div {

    // 各タブへのリンクの色を変更
    a {
      color: $title-text-color;
    }

    // イベントカレンダーなどのリンクの色を変更
    >a>div {
      color: aliceblue;
    }

    >div {

      &:last-child {
        >div {
          &:nth-child(2) {

            // アカウント設定などが選択できる場所にダークモードを適用
            >div>div {
              background-color: $common-background-color;

              >div {
                color: $title-text-color;

                a {
                  &:hover {
                    background-color: #383838;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 項目(タブ)選択の部分の色を変更
[role=tab] {
  // 選択されている項目(タブ)
  &[aria-selected=true] {
    background-color: #383838;
    
    >a {
      color: $title-text-color;
    }
  }

  // 選択されていない項目(タブ)
  &[aria-selected=false] {
    background-color: #1c1c1c;
    
    >a {
      color: $common-text-color;
    }
  }
}