$common-text-color: #e8e8e8;
$title-text-color: #FFFFFF;
$common-background-color: #202124;

[role=main]>div {
  &:nth-child(1) {

    // ページタイトルの文字色を変更
    h1 {
      color: $title-text-color;
    }
  }

  // メインのコース概要の部分にダークモード適用
  &:nth-child(2) {
    background-color: black;
    border: solid #7d7d7d !important;

    div {
      &:nth-child(2) {
        >div {
          &:nth-child(1) {
            >div {

              // 受講をする/やめるボタンの背景色を変更
              &:nth-child(2) {
                background-color: $common-background-color;
                box-shadow: $common-background-color 0px -12px 12px;
              }
            }
          }

          // 各省のリンクにダークモードを適用
          &:nth-child(2)>div {
            &:nth-child(2) {
              a {
                background-color: $common-background-color;
                border-width: 0px 0px 0.5px 0.5px;
                color: $common-text-color;

                &:hover {
                  background-color: #383838;
                }
              }
            }
          }
        }
      }
    }
  }
}