$common-text-color: #e8e8e8;
$title-text-color: #FFFFFF;
$common-background-color: #202124;

[color=\#828282] {
  color: $common-text-color;
}

#root>div>div {
  &:nth-child(2) {
    >div {

      // マイコース内のナビゲーションバー
      &:nth-child(1) {
        background-color: $common-background-color;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 0.5px 0.5px, rgba(255, 255, 255, 0.2) 0px 0px 1px;

        nav {
          a {
            color: $common-text-color;
          }

          // 戻るボタン
          [type=button] {
            background-color: $common-background-color;
            color: #c1ceff;
          }
        }
      }
    }
  }
}

main>div {

  // メインのコース概要の部分にダークモード適用
  >div>div {
    background-color: $common-background-color !important;
    border-color: #2f2f2f;

    // 進捗度のバーの色を変更 (このページだけ何故か進捗の色が指定)
    [role=progressbar] {
      background-color: rgb(68, 219, 108);
    }

    // 進捗度のバーの背景色を変更
    >div:nth-child(3)>div>div>div:has([role=progressbar]) {
      >div:has([role=progressbar]) {
        background-color: white;
      }
    }
  }

  // チャプター一覧
  >nav>div {
    >div {
      background-color: $common-background-color;

      // 各チャプターのリンク
      &:nth-child(2) {
        li>a {
          background-color: $common-background-color;
          border-width: 0px 0.5px 0.5px 0.5px;
          color: $common-text-color;

          h4 {
            color: $title-text-color;
          }

          &:hover {
            background-color: #383838;
          }
        }
      }
    }
  }
}