$common-text-color: #e8e8e8;
$title-text-color: #FFFFFF;
$common-background-color: #202124;

// 左のコース一覧の部分にダークモード適用
[role=navigation]>div {
  background-color: #1d1d1d;
  color: $common-text-color;

  div {

    // 「コースを探す」の文字色
    &:nth-child(1)>a>h2 {
      color: $common-text-color;
    }

    // 「コースを探す」の文字色
    &:nth-child(2) {
      color: #dadada;
    }

    &:nth-child(3),
    &:nth-child(4) {

      // 必修授業・課外授業表記の文字色
      button>h2 {
        color: $common-text-color;
      }

      // 各ジャンル名の文字色
      div {
        &:nth-child(3) {
          div>div>a>h2 {
            color: $common-text-color;
          }
        }
      }
    }
  }
}

[role=main]>div {

  // ホーム自体のナビゲーションバー
  &:nth-child(1) {
    background-color: $common-background-color;

    ol>li>a {
      color: $common-text-color !important;
    } 

    // 戻るボタン
    button {
      color: thistle;
      background-color: $common-background-color;
    }
  }

  &:nth-child(2)>div {
    &:nth-child(2) {

      // 各科目の部分にダークモード適用
      div {
        div {

          // 科目タイトルの文字色を変更
          h3 {
            color: $title-text-color;
          }

          &:nth-child(2)>div {

            // 各コースへのリンクボタンの色を変更
            a>div {
              background-color: $common-background-color;

              div {

                // 文字色
                &:nth-child(2) {
                  color: $title-text-color;
                }
              }
            }
          }
        }
      }
    }
  }
}