$common-text-color: #e8e8e8;
$title-text-color: #FFFFFF;
$common-background-color: #202124;

// 色のセレクターがある場合はそれを利用
[color=black] {
  color: $common-text-color;
}

[color=gray\.darkness2] {
  color: $title-text-color;
}

#root>div>div {
  &:nth-child(2) {
    >div {

      // マイコース内のナビゲーションバー
      &:nth-child(1) {
        background-color: $common-background-color;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 0.5px 0.5px, rgba(255, 255, 255, 0.2) 0px 0px 1px;

        nav {
          a {
            color: $common-text-color;
          }
        }
      }
    }
  }
}

[role=tabpanel] {
  >div {

    // 左側の各要素
    &:nth-child(1)>div>div>div>div>div>div>div>div,
    [aria-label=コース一覧]>div {
      background-color: $common-background-color;
      color: $common-text-color;

      h3 {
        color: $title-text-color;
      }

      // リンク系
      a {
        background-color: $common-background-color;
        color: $common-text-color;
        border-bottom-color: rgba(255, 255, 255, 0.1);
      }

      a>div:not([role=progressbar]) {
        background-color: transparent;
      }

      a:hover {
        background-color: #383838;
      }
    }

    // 「新しい学習を見つけよう」の部分
    &:nth-child(2) {
      background-color: $common-background-color;

      div {
        background-color: $common-background-color;
      }

      h3 {
        color: $title-text-color;
      }

      a,
      a>div {
        color: #c1ceff;
      }
    }
  }
}

// コースリストにダークモードを適用
[role=navigation]>div>div {
  // 背景色(余った部分)を変更
  background-color: black;

  >div {

    // コースリストの各項目のスタイルを変更
    button,
    a {
      background-color: $common-background-color !important;
      color: $title-text-color !important;
      border-color: #2f2f2f !important;

      &:hover {
        background-color: #383838 !important;
      }

      // アイコンの色(習熟テストの回数以外)
      div {
        &:nth-child(1) {
          i {
            color: #648aff;
          }
        }
      }

      // コース名の色
      div>div {
        color: $common-text-color;
      }
    }
  }
}

//コース選択後に出てくる概要を黒くする
[role=region]>div {
  background-color: $common-background-color;

  // 各章のリンクにダークモードを適用
  a {
    background-color: $common-background-color !important;
    color: $title-text-color !important;
    border-color: #2f2f2f !important;

    &:hover {
      background-color: #383838 !important;
    }
  }

  // 概要の文章のもっと見るボタンを黒くする
  div>div {
    &:nth-child(1) {
      div {
        &:nth-child(2) {
          div {
            &:last-child {
              div {
                &:nth-child(2) {
                  background-color: $common-background-color;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
}